<div class ='story-body'>
</div>

  <div class="story-body scrollytelling">    
      <div id="graphics" class="chart"></div>

      <div class="steps">
        <div class='step' id='reset'>
          <h4>Missing Deaths</h4>
          <p>In the last two months of 2020, Kentucky reported a steady rise in deaths due to COVID-19.</p> 
          <p>However, in a statewide audit of death certificates beginning March 2021, the health department found more than 1,600 deaths in those months that weren’t disclosed before.</p>
          <p>This chart would suggest that the death count did rise to an all-time high in January. But that is a false conclusion based on inaccurate and incomplete data.</p>
        </div>
        <div class="step" id="actual_data">
            <h4>Stark Differences</h4>
            <p>The <span style='background-color:orange'>real-time data</span>paints a grimmer picture.</p> 
            <p>According to a <span style='background-color:orange'>WFPL analysis of state data</span>, the COVID-19 deaths were rising dramatically much earlier than previously known.</p>
            <p> People were dying at a faster rate than the state disclosed to the public from November to January, the data show.</p>
            <p>The worst phase of the pandemic had started months earlier, and that's when the backlog of unreported cases started to build.</p>

        </div>
        <div class="step" id="deadliest_phase">
            <h4>Deadliest Phase</h4>
            <p>Public health experts say that the restrictions, imposed from Nov. 20 to Dec. 13, helped save lives. The data shows that, on average, more people still died of COVID-19 in that period than anytime earlier.</p>
             <p>Also, within two weeks after the easing of restrictions, the state hit its high: 73 deaths on Dec. 23.</p>
        </div>
        <div class="step" id="backlogs">
            <h4>Soaring Backlogs</h4>
            <p>The state knew about a massive backlog of unreported deaths as early as October, but the governor acknowledged it only after journalists asked questions about the deaths in February.</p>
            <p>Following a WFPL News report that unearthed hundreds of missing deaths from the state count, the state confirmed the backlog but said it was smaller than WFPL reported.</p>
        </div>
        <div class="step" id="delays">
            <h4>Ballooning Delays</h4>
            <p>The state audit turned up around 18% more previously unreported deaths as of June 7. This created a massive difference between the date deaths were reported and the dates they actually occurred.</p>

            <p>In one case, it took the state 13 months to report that a person had died of COVID-19 in Jefferson County in March 2020.</p>
            <p>The gap between the date of the death and the date on which it gets reported existed in Kentucky from the beginning, but the gap widened during the worst phases of the pandemic.</p>

            <p class='note'><b>Source: Data obtained from Kentucky Department for Public Health</b></p>
            <p class='note'><b>Design: Suhail Bhat / WFPL News</b></p>

        </div>
      </div>

  </div>

<script src="scripts/graphics.js"></script>
